.body {
  position: relative;
  overflow: hidden;

  height: 300px;
  overflow: auto;
  display: flex;

  display: flex;
}

.table {
  font-weight: bold;

  th {
    text-transform: capitalize;
  }

  td {
    font-family: monospace, "Courier New", Courier, monospace;
  }

  .olded {
    transition: color 0.5s linear;
    color: var(--el-text-color-primary);
  }

  .un-req {
    opacity: 0.6;
  }

  .waterfall {
    // position: relative;

    .needle {
      position: absolute;
      height: 1000px;
      width: 10px;
      background-color: red;
      top: 0;
      left: 10px;
      z-index: 20000;
    }
  }
}
