.body {
  border-top: 1px solid var(--el-border-color);

  display: flex;
  flex-direction: column;

  padding: 0 16px;
  background-color: var(--el-bg-color-page);
}

.control {
  padding: 8px 0;
  position: relative;
  display: flex;
  align-items: center;

  font-family: Menlo, Monaco, "Courier New", monospace;

  .button {
    width: 30px;
    height: 30px;

    i {
      font-size: 20px;
    }
  }

  .speed-button {
    width: 30px;
    height: 30px;
    font-family: Menlo, Monaco, "Courier New", monospace;

    span {
      font-weight: bold;
      transform: scale(0.8);
    }
  }
}
