.player-warp {
  position: relative;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;

  iframe {
    outline: none;
    border: none;

    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.39);
  }
}
